/**
 * @name Lithe
 * @version 69
 * @description a sleek theme
 * @author lawson
 * @authorId 527167786200465418
 * @source https://github.com/oyuh/lithe
 /*--------------IMPORTS------------- */

@import url(https://raw.githack.com/oyuh/lithe/main.css);
@import url(https://discord-custom-covers.github.io/usrbg/dist/usrbg.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);

/*--------------COLORS---------------*/


/*------remove / and * to apply------*/


/* @import url(https://raw.githack.com/oyuh/lithe/blue.css); */


/* @import url(https://raw.githack.com/oyuh/lithe/green.css); */


/* @import url(https://raw.githack.com/oyuh/lithe/gray.css); */


/* @import url(https://raw.githack.com/oyuh/lithe/orange.css); */


/* @import url(https://raw.githack.com/oyuh/lithe/purple.css); */


/* @import url(https://raw.githack.com/oyuh/lithe/red.css); */


/*-------------VARIABLES-------------*/

 :root {
    /* set to 'unset' to show */
    --scrollbars: none;
    /* profile notes */
    --notes: none;
    /* direct message box */
    --message: none;
    /* set to 'Inter', sans-serif !important to use Inter font*/
    --font-primary: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-display: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    --border-radius-1: 10px;
    --border-radius-2: 8px;
}


/*-----------CUSTOM COLORS-----------*/


/*-------------DARK MODE-------------*/


/*---------------BASIC---------------*/

.theme-dark {
    --accent-color: #ffbfca;
    --background-1: #171d20;
    --background-2: #1e2529;
    --background-accent: #1e2529;
    --border-color: #273034;
}


/*-------------ADVANCED--------------*/

.theme-dark {
    /* background */
    --background-primary: var(--background-1);
    --background-primary-alt: var(--background-1);
    --background-secondary: var(--background-1);
    --background-secondary-alt: var(--background-1);
    --background-tertiary: var(--background-2);
    --background-accent-gradient: var(--background-2);
    --background-floating: var(--background-1);
    --background-mentioned: #fbbdc210;
    --background-mentioned-hover: #fbbdc015;
    /* modifiers */
    --background-modifier-hover: #332629;
    --background-modifier-active: #63494b;
    --background-modifier-selected: var(--accent-color);
    --background-modifier-accent: transparent;
    --background-message-hover: transparent;
    /* text */
    --text-normal: var(--accent-color);
    --text-positive: var(--text-normal);
    --text-muted: #926d70;
    --text-link: #feeded;
    --interactive-selected: var(--background-primary);
    --interactive-active: var(--text-normal);
    --interactive-normal: var(--text-normal);
    --interactive-muted: var(--button-background-active);
    --channels-default: var(--text-muted);
    --header-primary: var(--text-normal);
    --header-secondary: var(--text-muted);
    /* more */
    --settings-icon-color: #bc8e90;
    --control-brand-foreground: var(--accent-color);
    --info-warning-foreground: var(--accent-color);
    --tab-selected: #493538;
    --switch: #533d42;
    --activity-card-background: var(--background-1);
    --brand-experiment: var(--accent-color) !important;
    /* buttons */
    --button-background: #392a2f;
    --button-background-hover: #49353a;
    --button-background-active: #684d54;
    --button-accent: var(--accent-color);
    --button-accent-hover: #ffd2f9;
    --button-accent-active: #f88dad;
    --button-destructive: #fb7c7c;
    --button-destructive-hover: #ff929b;
    --button-destructive-active: #fa4a4a;
}


/*-------------LIGHT MODE------------*/


/*---------------BASIC---------------*/

.theme-light {
    --accent-color: #fd2264;
    --background-1: #ffffff;
    --background-2: #faf5f6;
    --background-accent: var(--background-2);
    --border-color: transparent;
}


/*-------------ADVANCED--------------*/

.theme-light {
    /* background */
    --background-primary: var(--background-1);
    --background-primary-alt: var(--background-1);
    --background-secondary: var(--background-1);
    --background-secondary-alt: var(--background-1);
    --background-tertiary: var(--background-2);
    --background-accent-gradient: var(--background-2);
    --background-floating: var(--background-1);
    --background-mentioned: #fd226410;
    --background-mentioned-hover: #fd223415;
    /* modifiers */
    --background-modifier-hover: transparent;
    --background-modifier-active: #ccb7bc;
    --background-modifier-selected: var(--accent-color);
    --background-modifier-accent: transparent;
    --background-message-hover: transparent;
    /* text */
    --text-normal: #541217;
    --text-positive: var(--text-normal);
    --text-muted: #a7848c;
    --text-link: #f01544;
    --interactive-selected: var(--background-primary);
    --interactive-active: var(--text-normal);
    --interactive-normal: var(--text-normal);
    --interactive-muted: var(--text-muted);
    --channels-default: var(--text-normal);
    --header-primary: var(--text-normal);
    --header-secondary: var(--text-muted);
    /* more */
    --settings-icon-color: #86565c;
    --control-brand-foreground: var(--accent-color);
    --info-warning-foreground: var(--accent-color);
    --tab-selected: var(--background-1);
    --switch: #d9c8ca;
    --activity-card-background: var(--background-1);
    --brand-experiment: var(--accent-color) !important;
    /* buttons */
    --button-background: var(--background-1);
    --button-background-hover: #e1d3d4;
    --button-background-active: #c8b1b6;
    --button-accent: var(--accent-color);
    --button-accent-hover: #fd22cd;
    --button-accent-active: #c50d69;
    --button-destructive: #fb7c7c;
    --button-destructive-hover: #ff929b;
    --button-destructive-active: #fa4a4a;
}


/*-----------DON'T CHANGE------------*/

 :root {
    --outdated: none!important
}


/*  usrbg | snippet by _david_#0218  */

.userPopout-xaxa6l[style*="--user-background"] .banner-2QYc2d,
.root-3QyAh1[style*="--user-background"] .banner-2QYc2d {
    height: 120px;
    background: var(--background-tertiary) var(--user-background) var(--user-popout-position, center) center / cover !important;
}

.userPopout-xaxa6l[style*="--user-background"] .avatarPositionNormal-aZjAsn {
    top: 76px;
}

.root-3QyAh1[style*="--user-background"] .banner-2QYc2d {
    height: 240px;
}